/* =========================
   BORDER WIDTH
   ========================= */

.border-0 { -fx-border-width: 0; }

.border-1 { -fx-border-width: 1; }
.border-2 { -fx-border-width: 2; }
.border-3 { -fx-border-width: 3; }
.border-4 { -fx-border-width: 4; }


/* =========================
   BORDER COLOR - PRIMARY
   ========================= */

.border-primary-50  { -fx-border-color: -color-primary-50; }
.border-primary-100 { -fx-border-color: -color-primary-100; }
.border-primary-200 { -fx-border-color: -color-primary-200; }
.border-primary-300 { -fx-border-color: -color-primary-300; }
.border-primary-400 { -fx-border-color: -color-primary-400; }
.border-primary-500 { -fx-border-color: -color-primary-500; }
.border-primary-600 { -fx-border-color: -color-primary-600; }
.border-primary-700 { -fx-border-color: -color-primary-700; }
.border-primary-800 { -fx-border-color: -color-primary-800; }
.border-primary-900 { -fx-border-color: -color-primary-900; }
.border-primary-950 { -fx-border-color: -color-primary-950; }


/* =========================
   BORDER COLOR - BASE
   ========================= */

.border-base-50  { -fx-border-color: -color-base-50; }
.border-base-100 { -fx-border-color: -color-base-100; }
.border-base-200 { -fx-border-color: -color-base-200; }
.border-base-300 { -fx-border-color: -color-base-300; }
.border-base-400 { -fx-border-color: -color-base-400; }
.border-base-500 { -fx-border-color: -color-base-500; }
.border-base-600 { -fx-border-color: -color-base-600; }
.border-base-700 { -fx-border-color: -color-base-700; }
.border-base-800 { -fx-border-color: -color-base-800; }
.border-base-900 { -fx-border-color: -color-base-900; }
.border-base-950 { -fx-border-color: -color-base-950; }


/* =========================
   BORDER RADIUS
   ========================= */

.border-round-sm { -fx-border-radius: 4; }
.border-round-md { -fx-border-radius: 8; }
.border-round-lg { -fx-border-radius: 12; }
.border-round-xl { -fx-border-radius: 16; }
.border-round-full { -fx-border-radius: 999; }
