.card {
    -fx-background-color: -color-base-800;
    -fx-background-radius: 5px;
    -fx-alignment: center-left;
    -fx-cursor: hand;
}

.card:hover {
    -fx-background-color: -color-base-900;
}

.card-title {
    -fx-text-fill: -color-base-100;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.card-actions {
    -fx-alignment: center-right;
    -fx-spacing: 6;
}

.card-action {
    -fx-background-color: transparent;
    -fx-text-fill: -color-base-500;
    -fx-font-size: 12px;
    -fx-padding: 6 10;
    -fx-background-radius: 5px;
}

.card-action:hover {
    -fx-text-fill: -color-base-400;
}

.add-button {
    -fx-background-color: -color-primary-800;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.add-button:hover {
    -fx-background-color: -color-primary-900;
}

.add-button-title {
    -fx-text-fill: -color-primary-100;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}
