.empty-container {
    -fx-padding: 40;
    -fx-opacity: 0.95;
}

.empty-title {
    -fx-text-fill: -color-primary-700;
    -fx-font-size: 34px;
    -fx-font-weight: bold;
}

.empty-subtitle {
    -fx-text-fill: -color-primary-100;
    -fx-font-size: 13px;
    -fx-text-alignment: center;
}

.empty-create-button {
    -fx-background-color: -color-primary-800;
    -fx-text-fill: -color-primary-100;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-padding: 10 18;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.empty-create-button:hover {
    -fx-background-color: -color-primary-900;
}
