.header {
    -fx-background-color: -color-base-900;
}

.header-back-button {
    -fx-background-color: -color-primary-700;
    -fx-text-fill: -color-primary-100;
    -fx-background-radius: 8;
    -fx-padding: 6 10;
    -fx-cursor: hand;
}

.header-back-button:hover {
    -fx-background-color: -color-primary-800;
}

.header-back-text {
    -fx-text-fill: -color-primary-100;
    -fx-font-size: 12px;
}