.modal-card {
    -fx-background-color: -color-base-900;
    -fx-background-radius: 5px;
}

.modal-title {
    -fx-text-fill: -color-base-100;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.modal-textfield {
    -fx-background-color: -color-base-800;
    -fx-text-fill: -color-base-100;
    -fx-prompt-text-fill: -color-base-400100;
    -fx-background-radius: 5px;
    -fx-padding: 8 10;
}

.create-projects-button-accept-modal {
    -fx-background-color: -color-primary;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-padding: 8 14;
}

.create-projects-button-accept-modal:hover {
    -fx-background-color: derive(-color-primary, 10%);
}