.modal-card {
    -fx-background-color: -color-base-900;
    -fx-background-radius: 5px;
}

.modal-title {
    -fx-text-fill: -color-base-100;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.modal-textfield {
    -fx-background-color: -color-base-800;
    -fx-text-fill: -color-base-100;
    -fx-prompt-text-fill: -color-base-400100;
    -fx-background-radius: 5px;
    -fx-padding: 8 10;
}

.modal-button-close {
    -fx-background-color: transparent;
    -fx-text-fill: -color-primary-800;
    -fx-padding: 8 14;
}

.modal-button-close:hover {
    -fx-text-fill: -color-primary-900;
}

.modal-button-create {
    -fx-background-color: -color-primary-800;
    -fx-text-fill: -color-primary-100;
    -fx-background-radius: 5px;
    -fx-padding: 8 18;
    -fx-font-weight: bold;
}

.modal-button-create:hover {
    -fx-background-color: -color-primary-900;
}

.create-projects-button-accept-modal {
    -fx-background-color: -color-primary;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-padding: 8 14;
}

.create-projects-button-accept-modal:hover {
    -fx-background-color: derive(-color-primary, 10%);
}

.modal-button-danger {
    -fx-background-color: transparent;
    -fx-text-fill: -color-primary-800;
    -fx-padding: 8 14;
}

.modal-button-danger:hover {
    -fx-background-color: -color-primary-900;

}

.modal-combobox {
    -fx-background-color: -color-base-800;
    -fx-background-radius: 5px;
    -fx-padding: 2;
}

.modal-combobox .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: -color-base-100;
    -fx-padding: 8 10;
}

.modal-combobox .arrow-button {
    -fx-background-color: transparent;
}

.modal-combobox .arrow {
    -fx-background-color: -color-base-400;
}

.modal-combobox:hover {
    -fx-background-color: -color-base-700;
}

.modal-combobox:focused {
    -fx-background-color: -color-base-700;
    -fx-border-color: -color-primary-800;
    -fx-border-radius: 5px;
}

.modal-combobox .combo-box-popup .list-view {
    -fx-background-color: -color-base-800;
    -fx-background-radius: 5px;
    -fx-padding: 4 0;
}

.modal-combobox .combo-box-popup .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: -color-base-100;
    -fx-padding: 8 12;
}

.modal-combobox .combo-box-popup .list-cell:hover {
    -fx-background-color: -color-base-700;
}

.modal-combobox .combo-box-popup .list-cell:selected {
    -fx-background-color: -color-primary-800;
    -fx-text-fill: -color-primary-100;
}
