.project-panel {
    -fx-background-color: -color-base-800;
    -fx-pref-width: 280;
}

.project-header {
    -fx-background-color: -color-base-900;
    -fx-padding: 12;
    -fx-pref-width: 280;
}

.project-title {
    -fx-text-fill: -color-base-100;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.project-add-button {
    -fx-background-color: -color-primary-700;
    -fx-text-fill: -color-primary-100;
    -fx-background-radius: 5px;
    -fx-padding: 6 10;
}

.project-add-button:hover {
    -fx-background-color: -color-primary-800;
}

.project-item {
    -fx-background-color: -color-base-800;
    -fx-cursor: hand;
}

.project-item:hover {
    -fx-background-color: -color-primary-800;
}

.project-item-title {
    -fx-text-fill: -color-base-100;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.project-item-meta {
    -fx-text-fill: -color-base-300;
    -fx-font-size: 10px;
}

.project-item-button {
    -fx-background-color: transparent;
    -fx-text-fill: -color-base-500;
    -fx-padding: 4 10;
    -fx-background-radius: 5px;
}

.project-item-button:hover {
    -fx-text-fill: -color-base-400;
}

.project-item-patch-type {
    -fx-text-fill: -color-primary-100;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
}

.project-item-patch-type-box {
    -fx-background-color: -color-primary-700;
    -fx-background-radius: 5px;
}

.invisible-scroll {
    -fx-background-color: transparent;
}

.invisible-scroll .viewport {
    -fx-background-color: transparent;
}

.invisible-scroll .scroll-bar:vertical,
.invisible-scroll .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.invisible-scroll .increment-button,
.invisible-scroll .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 0;
}

.version-type-badge {
    -fx-background-color: -color-primary-700;
    -fx-text-fill: -color-primary-100;

    -fx-padding: 2 8 2 8;
    -fx-background-radius: 5;

    -fx-font-size: 11px;
    -fx-font-weight: bold;
}