/* =========================
   TITLES
   ========================= */

.title {
    -fx-font-size: 24px;
    -fx-text-fill: -color-primary-200;
}


/* =========================
   SUBTITLES
   ========================= */

.subtitle {
    -fx-font-size: 20px;              /* text-xl */
    -fx-font-weight: 600;
    -fx-text-fill: -color-primary-500;
}

.subtitle:hover {
    -fx-text-fill: -color-primary-600;
}


/* =========================
   BODY TEXT
   ========================= */

.text-main {
    -fx-font-size: 12px;
    -fx-text-fill: -color-base-100;
}

.text-muted {
    -fx-font-size: 13px;
    -fx-text-fill: -color-base-400;
}

.text-muted:hover {
    -fx-text-fill: -color-base-300;
}


/* =========================
   ITEM TEXT
   ========================= */


.text-item {
    -fx-font-size: 14px;
    -fx-font-weight: 400;
    -fx-text-fill: -color-base-100;
}


/* =========================
   LINKS / INTERACTIVE
   ========================= */

.text-link {
    -fx-font-size: 14px;
    -fx-font-weight: 500;
    -fx-text-fill: -color-primary-500;
    -fx-cursor: hand;
}

.text-link:hover {
    -fx-text-fill: -color-primary-600;
}


/* =========================
   BADGE TEXTS
   ========================= */


.text-badge {
    -fx-background-color: -color-primary-700;
    -fx-text-fill: -color-primary-100;
    -fx-padding: 2 8 2 8;
    -fx-background-radius: 5;
    -fx-font-size: 12px;
}

.text-error-badge {
    -fx-background-color: rgba(214, 59, 59, 0.12);
    -fx-border-color: -color-error-500;
    -fx-border-width: 1.5;
    -fx-text-fill: -color-error-600;
    -fx-padding: 10 14;
    -fx-font-size: 13px;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}