.text-field, .text-area {
    -fx-background-color: -color-base-800;
    -fx-text-fill: -color-base-100;
    -fx-prompt-text-fill: -color-base-400;
    -fx-background-radius: 5px;
    -fx-padding: 8 10;
}

.text-area .content {
    -fx-background-color: transparent;
}

.text-field:focused, .text-area:focused {
    -fx-background-color: -color-base-700;
}

.text-area .viewport {
    -fx-background-color: transparent;
}

.text-area .content {
    -fx-background-color: -color-base-800;
}

.text-area:focused .content {
    -fx-background-color: -color-base-700;
}